Hands-On[[:space:]]Machine[[:space:]]Learning[[:space:]]with[[:space:]]Scikit-Learn,[[:space:]]Keras,[[:space:]]and[[:space:]]Tensorflow[[:space:]]Concepts,[[:space:]]Tools,[[:space:]]and[[:space:]]Techniques[[:space:]]to[[:space:]]Build[[:space:]]Intelligent[[:space:]]Systems.pdf filter=lfs diff=lfs merge=lfs -text
Machine[[:space:]]Learning[[:space:]]With[[:space:]]PyTorch[[:space:]]and[[:space:]]Scikit-Learn.pdf filter=lfs diff=lfs merge=lfs -text
Mathematics[[:space:]]For[[:space:]]Machine[[:space:]]Learning.pdf filter=lfs diff=lfs merge=lfs -text
Pattern[[:space:]]Classification.pdf filter=lfs diff=lfs merge=lfs -text
Pattern-Recognition-and-Machine-Learning.pdf filter=lfs diff=lfs merge=lfs -text
